################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CommodityAccountingSystem/.vs/CommodityAccountingSystem/v15/Server/sqlite3/db.lock
